/* HEADER */
/* ***** */
/* Smartphone */
header{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.banner{
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    width:100vw /* La imagen banner Ocupara el Ancho total del dispositivo */
}



/* Desktop */

@media only screen and (min-width: 1000px) {
    .banner{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .logo{
        position:absolute;
        top:20px;
        left:20px;
    }

    
}